
<nav class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
    <div class="container">

        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.svg" class="d-inline-block align-top" alt="">

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a [ngClass]="{'active': category =='headlines'}" class="nav-link" href="javascript:void(0)" routerLink="/category/headlines">Top Headlines <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a [ngClass]="{'active': category =='business'}" class="nav-link" href="javascript:void(0)" routerLink="/category/business">Business </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [ngClass]="{'active': category =='health'}" href="javascript:void(0)" routerLink="/category/health">Health </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="javascript:void(0)" [ngClass]="{'active': category =='sports'}" routerLink="/category/sports">Sports</a>
                </li>

            </ul>
        </div>
    </div>
</nav>